/* src/styles/Home.module.css */
.main {
    text-align: left;
    padding: 50px;
}

.chatButton {
    /* Style your button */
    margin-top: 20px;
    /* Example style */
}

.adminButton {
    position: absolute;
    top: 10%;
    left: 15%;
}