.dnone {
    display: none;
}

.open {
    display: block;
    /* This will make sure the chat panel is visible when open */
}

.chatContainer {
    position: absolute;
    top: 5%;
    right: 30%;
}

.chatStack {
    transition: transform 0.13s ease-in-out;
    /* Smooth transition for opening/closing */
    transform: translateX(100%);
    /* Start off-screen to the right */
    background-color: var(--color-background);
    color: var(--color-text-dark);
    border-left: 1px solid var(--color-accent);
    box-shadow: -2px 0 5px rgba(0, 0, 0, 0.2);
    /* Optional: Shadow for visibility */
    z-index: 1000;
    /* Ensure it's above other content */
    overflow: hidden;
}


.chatStack.open {
    transform: translateX(0);
    /* Slide in when open */
}

.chatMessagesList {
    height: 65vh;
}

.chatInput {
    color: var(--color-text-light);
    padding: 8px;
    background-color: var(--color-primary);

}


/* Add styles for the placeholder text as well */
.chatInput .MuiInputBase-input::placeholder {
    color: var(--color-text-light);
}

/* If you want to change the text color when the TextField is focused */
.chatInput .Mui-focused {
    color: var(--color-text-light);
    background-color: lighten(var(--color-primary), 30%);
}

.sendButton {
    background-color: var(--color-secondary);
    color: var(--color-text-light);
}

.sendButton:hover {
    background-color: darken(var(--color-secondary), 10%);
    color: var(--color-text-dark);
}

/* Media Queries */

@media (max-width: 900px) {
    .chatContainer {
        position: absolute;
        top: 45%;
        right: 92%;
    }

    .chatMessagesList {
        height: 30vh;
    }
}